@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;500;700&family=Quicksand:wght@300;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --lightblue: #0A9396;
    --orange: #ee9b00;
    --red: #ae2012;
    --green: #8ac926;
}

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
} 
* > a{  /* ? No se si es correcto usar esto */
    text-decoration: none;
    color: black;
}

.wave-1{
   position: relative;
   top: 1vh;
}

/* HEADER */

header{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.navbar{ /* CORREGIR TAMANO POR RESPONSIVE */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list{
    font-size: 1.5rem;
    display: flex;
    gap: 10em;
}

.nav-list a{
    list-style: none;
    padding: 0.9rem; 
    margin: -0.9rem;
    border-radius: 5rem;
}

.nav-list a:nth-child(odd):hover{
    background-color: var(--green);
}

.nav-list a:nth-child(even):hover{
    background-color: var(--orange); 
}

.browser{
    height: 1.5rem;
}

.browser-cont input{
    outline: none;
}

.browser-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.browser-cont i{
    margin-left: 1rem;
}

 
.logo{
    width: 60%;
    margin: 4rem auto;
    font-size: 5rem;
    text-align: center;
    border-bottom: 1px solid black;
}

/* HERO */

@keyframes aparecer {

    from{
        opacity: 0;
        color: white;
    }

    to{
        opacity: 1;
        color: rgb(45, 45, 45);;
    }
}

.hero{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
}

.slogan{
    display: flex;
    flex-direction: column;
}

.phrase{
    animation: aparecer 4s linear 0s 1 forwards;
    font-family: 'Noto Serif Georgian', serif;
    font-size: 5rem;
    text-align: center;
    margin: 4.5rem auto auto 3rem;
    color: white;
}

.autor{
    animation: aparecer 4s linear 1s 1 forwards;
    font-size: 2.5rem;
    font-family: 'Noto Serif Georgian', serif;
    color: white;
    text-align: end;
    margin-top: 3rem;
    margin-bottom: 35rem;
}


.hero-image{ 
    margin: auto 3rem 3rem 3rem;
    max-width: 50%;
    max-height: 25%;
    object-fit: fill;
    z-index: -4;
}

/* BOOKS */

#book-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 3.5rem;
    place-items: center;
    width: 100%;
    height: 100%;
    margin: 0%;
    background: rgb(238,155,0);
    background: linear-gradient(180deg, rgba(238,155,0,1) 0%, rgba(231,70,69,1) 100%); 
}


.book-images{
    width: 70%;
    height: 90%;
    box-shadow: 15px 15px 10px black;
}

#book-section:hover .book-images{
    opacity: .5;
    filter: blur(2px);
}

#book-section .book-images:hover{
    opacity: 1;
    filter: blur(0px);
}

.book:hover{
    border-radius: 5px;
    transform: scale(1.1);
    box-shadow: 45px 45px 30px black;
}

.book-images img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTACT */

#contact-section svg{
    transform: scaleY(-2);
    position: absolute;
    z-index: -3;
    width: 100%;
}

#contact-section{
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 90vh;
}

.invitation{
    text-align: center;
    justify-content: start;
}

.invitation h2{
    font-size: 3rem;
    margin-top: 2rem;
}

.contact{
    font-size: 3rem;
    margin-top: 1.5em;
}

.contact-descript{
    font-size: 2rem;
    margin-top: 4rem;
}

.contact-descript.one{
    margin-top: 1rem;
}

.contact-descript.two{
    margin-top: 15%;
}

.bi-box-arrow-up-right{
    margin-left: 0.5rem;
}

.conditions{
    text-decoration: none;
    border-bottom: 1px solid black;
}

.contact-ways{
    font-size: 1.5rem;
    margin-top: 10rem;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
}

.phone, .office, .email{
    margin: 1rem;
}

/* FOOTER */

footer{
    background-color: var(--lightblue);
    height: 10vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.copyright, .sections-list, .authory{
   margin: auto;
}

.copyright{
    display: flex;
}

.copyright i{
    margin-right: 1rem;
}

.sections-list{
    font-size: 1rem;
}

.sections-list ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.sections-list ul li{
    list-style: none;
    margin: 1ch 2ch 1ch 2ch;
}

.sections-list ul li:hover{
    border-bottom: 1px solid black;
}

.maxibravi{
    font-family: 'Press Start 2P', cursive;
    margin-left: 0.7rem;
}

@media (max-width: 1700px){
    :root{
        font-size: 14px;
    }
}

@media (max-width: 1500px){
    :root{
        font-size: 12px;
    }
}

@media (max-width: 1300px){
    :root{
        font-size: 10px;
    }

    .contact-ways{
        align-items: center;
    }
}

@media (max-width: 1100px){
    :root{
        font-size: 8px;
    }

    .browser{
        width: 70%;
    }
}

@media (max-width: 950px){
    .browser{
        width: 40%;
    }
    .nav-list{
        gap: 7em;
    }
}

@media (max-width: 700px){
    #book-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .hero-image{
        display: none;
    }

    .slogan{
        margin-top: 2rem;
        margin-right: 3rem;
    }

    .nav-list{
        gap: 5em;
    }

    #contact-section{
        margin-top: 3rem;
    }

    .navbar{
        flex-direction: column;
    }

    .browser-cont{
        margin-top: 5rem;
    }

    .browser-cont input{
        width: 100%;
    }

    footer{
        justify-content: space-evenly;
    }
}

@media (max-width: 500px){
    #book-section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    .nav-list{
        gap: 4em;
    }

    .copyright{
        margin-left: 2rem;
    }
}