@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;500;700&family=Quicksand:wght@300;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
  --lightblue: #0A9396;
  --orange: #ee9b00;
  --red: #ae2012;
  --green: #8ac926;
}

*{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
} 
* > a{  /* ? No se si es correcto usar esto */
  text-decoration: none;
  color: black;
}

body{
  overflow: hidden;
}

/* HEADER */

header{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.navbar{ /* CORREGIR TAMANO POR RESPONSIVE */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list{
  font-size: 1.5rem;
  display: flex;
  gap: 10em;
}

.nav-list a{
  list-style: none;
  padding: 0.9rem; 
  margin: -0.9rem;
  border-radius: 5rem;
}

.nav-list a:nth-child(odd):hover{
  background-color: var(--green);
}

.nav-list a:nth-child(even):hover{
  background-color: var(--orange); 
}

.browser{
  height: 1.5rem;
}

.browser-cont i{
  margin-left: 1rem;
}

/* MAIN */

main{
  width: 100%;
  margin: 0;
}

.login-box {
  width: 30%;
  height: 40%;
  border: 2px solid gray;
  margin: auto;
  margin-top: 7.5%;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 25px;
}

.login-box label {
  display: flex;
  flex-direction: column;
  box-shadow: 5px solid gray;
  width: 80%;
}

.login-box label input{
  height: 5ch;
  margin: 10px;
  padding: 1ch;
  border-color: gray;
  border-radius: 5px;
  font-weight: 600;
  color: black;
  outline: none;
}

.login-box label input:focus{
  border: 3px solid lightgray;
}

#login{
  width: 80%;
  height: 5ch;
  margin-top: 25px;
  margin-bottom: 25px;  
}

#submit{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--orange);
  border: 1px solid black;
  border-radius: 5px;
}

#submit:hover {
  background-color: var(--green);
}

.login-box p {
  text-align: center;
}

.social-login {
  margin-top: 25px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.social-login i{
  font-size: 25px;
}

/* WAVES */

.wave{
  width: 100%;
  height: 1vh;
  margin: 0;
  position: relative;
  bottom: 0;
}

/* QUERIES */
@media (max-width: 1700px){
  :root{
      font-size: 14px;
  }
}

@media (max-width: 1502px){
  :root{
      font-size: 12px;
  }

 .login-box{
  width: 50%;
  height: 50vh;
 }
}

@media (max-width: 1302px){
  .login-box{
    width: 60%;
    height: 60vh;
    padding: 5px;
  }
}

@media (max-width: 1050px){
  .nav-list{
      gap: 7em;
  }

  .login-box{
    height: 70vh;
    padding: 2.5px;
   }
  
}

@media (max-width: 850px){
  .login-box{
    height: 55vh;
   }
  
  .nav-list{
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 620px){
  .login-box{
    height: 60vh;
   }

}

@media (max-width: 500px){
  .login-box{
    height: 65vh;
   }
}